body{
  background-color: #fff;
 
}

.about-aboutSection {
    background-color: #eee;
    width: 40vw; 
    font-family: "Chirp-regular", sans-serif;
    font-size: 1.2rem;
    border: 0.4px solid #ffffff; /* Subdued grey border */
    color: #000;
    line-height: 1.2;
    margin-bottom: 1rem;
    
  }
  
  .about-aboutSectionTitle {
    font-weight: bold;
    font-size: 1.8rem; 
    color: #000; /* Dark grey text color */

  }
  
  .about-aboutSectionText {
    margin: 1rem;
    color: #000; /* Slightly darker grey text color */
  }
  
  .about-aboutHeader {
    font-weight: bold;
    color: #111; /* Black text color */
  }
  
  .about-aboutSectionBottom {
    border: 0.4px solid #ccc; /* Subdued grey border */
    background-color: #eee;
    width: 80vw;
    font-family: "Chirp-regular", sans-serif;
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 20px;
    overflow: auto;
    border-radius: 5px;
    
    line-height: 1.2;
  }

