body{
  background-color: #2b2e3c;
 
}

.about-aboutSection {
    background-color: #353848;
    width: 40vw;
    font-family: "Chirp-regular", sans-serif;
    font-size: 1.2rem;
    border: 0.4px solid #ffffff; /* Subdued grey border */
    color: #fff;
    line-height: 1.2;
    margin-bottom: 1rem;
    
  }
  
  .about-aboutSectionTitle {
    font-weight: bold;
    font-size: 1.8rem; 
    color: #ffffff; /* Dark grey text color */

  }
  
  .about-aboutSectionText {
    margin: 1rem;
    color: #ffffff; /* Slightly darker grey text color */
  }
  
  .about-aboutHeader {
    font-weight: bold;
    color: #111; /* Black text color */
  }
  
  .about-aboutSectionBottom {
    border: 0.4px solid #ccc; /* Subdued grey border */
    background-color: #353848;
    width: 80vw;
    font-family: "Chirp-regular", sans-serif;
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 20px;
    overflow: auto;
    border-radius: 5px;
    
    line-height: 1.2;
  }

  
  /* Add more styles as needed for a cohesive design */
  a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }

  a:hover{
    opacity: 0.5;
  }