.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 999;
  }
  
  .scroll-to-top.visible {
    opacity: 1;
  }
  
  .scroll-to-top button {
    /* background-color: #007bff; */
    background-color: rgb(131,0,0);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    
    transition: background-color 0.3s;
  }
  
  .scroll-to-top button:hover {
    background-color: rgb(108, 0, 0);
  
  }
  