.logo-image {
    margin-right: 10px;
    width: 300px;
    height: auto;
  }
  
  .navbar-container {
    display: flex;
    justify-content: normal;
    align-items: center;
  }
  
  .nav-link {
    font-size: 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
  }