.logo-image {
    
    width: 15rem;
    height: auto;
  }
  
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
  }
  
  .nav-link {
    font-size: 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
  
  }

  .nav-link:hover
  {
    opacity: 0.5;
    cursor: pointer;
  }