.logo-image {
    
    width: 12rem;
    height: auto;
  }
  
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
  }
  
  .nav-link {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
  
  }

  .nav-link:hover
  {
    opacity: 0.5;
    cursor: pointer;
  }