.visit-visitSection {
    width: 100%;
    font-family: "Chirp-regular", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: solid 0.5px #ccc;
    
  }
  #welcomeBox
  {
    margin-top:20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    background-color: #eee;
    padding: 5rem;

    
  }


  .visit-visitSectionTitle {
    font-size: 1.8rem;
    color: #000;

  }
  
  .visit-visitSectionText {
    margin: 10px 0;
    color: #000;

  }
  
  #visitPicBox{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 30px;

  }

  #visitPicBox img{
    padding-bottom: 30px;
    width: 60%;

  }

  #visitDesc{
    line-height: 2;
    padding-left: 50px;
    padding-right: 50px;
  }

  body{
    height: 100vh;
  }

