.visit-visitSection {
    width: 100%;
    font-family: "Chirp-regular", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: solid 0.5px #ccc;
    
  }
  #welcomeBox
  {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    background-color: #353848;
    margin-top: 30vh;
    padding: 5rem;
    color: #ffffff !important;
    
  }


  .visit-visitSectionTitle {
    font-size: 1.8rem;
    color: #ffffff;

  }
  
  .visit-visitSectionText {
    margin: 10px 0;
    color: #ffffff;

  }
  

  body{
    height: 100vh;
  }